:root {
    --theme-black-text-color: #000;
    --theme-white-text-color: #fff;
    --theme-dark-background-color: #000;
    --theme-light-background-color: #fff;
    --theme-primary-dark-background-color: #14274E;
    --theme-primary-dark-border-color: #14274E;
    --theme-primary-dark-text-color: #14274E;
    --theme-primary-semi-dark-background-color: #394867;
    --theme-primary-semi-dark-text-color: #394867;
    --theme-primary-semi-light-background-color: #9BA4B4;
    --theme-primary-semi-light-text-color: #9BA4B4;
    --theme-primary-semi-light-border-color: #9BA4B4;
    --theme-primary-light-background-color: #F1F6F9;
    --theme-primary-light-text-color: #F1F6F9;
}